---
// Import the necessary components
import MainLayout from "@/layouts/MainLayout.astro";
import HeroSection from "@components/sections/landing/HeroSection.astro";
import HeroSectionAlt from "@components/sections/landing/HeroSectionAlt.astro";
import ClientsSection from "@components/sections/landing/ClientsSection.astro";
import FeaturesGeneral from "@components/sections/features/FeaturesGeneral.astro";
import FeaturesNavs from "@components/sections/features/FeaturesNavs.astro";
import TestimonialsSection from "@components/sections/testimonials/TestimonialsSection.astro";
import PricingSection from "@components/sections/pricing/PricingSection.astro";
import FAQ from "@components/sections/misc/FAQ.astro";
import AnnouncementBanner from "@components/ui/banners/AnnouncementBanner.astro";
import heroImage from "@images/hero-image.avif";
import faqs from "@data/faqs.json";
import features from "@data/features.json";
import pricing from "@data/pricing.json";
import featureImage from "@images/features-image.avif";
import construction from "@images/construction-image.avif";
import tools from "@images/automated-tools.avif";
import dashboard from "@images/dashboard-image.avif";

const avatarSrcs: Array<string> = [
  "https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1531927557220-a9e23c1e4794?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1541101767792-f9b2b1c4f127?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&&auto=format&fit=facearea&facepad=3&w=300&h=300&q=80",
  "https://images.unsplash.com/photo-1492562080023-ab3db95bfbce?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=2&w=300&h=300&q=80",
];
---

<MainLayout>
  <AnnouncementBanner
    btnId="dismiss-button"
    btnTitle="Explore ScrewFast on GitHub"
    url="https://github.com/mearashadowfax/ScrewFast"
  />

  <HeroSection
    title=`Transporte con... <span
        class="text-yellow-500 dark:text-yellow-400">monitoreo 24hrs</span>`
    subTitle="Tu mercancía en movimiento hasta su lugar destino, solo preocupate por recibirla."
    primaryBtn="Cotiza ¡Ahora!"
    primaryBtnURL="/products"
    secondaryBtn="Equipo Heavy"
    secondaryBtnURL="/contact"
    withReview={true}
    avatars={avatarSrcs}
    rating=`<span class="font-bold">4.8</span> / 5`
    starCount={4}
    reviews=`From Over <span class="font-bold">12.8k</span> Reviews`
    src={heroImage}
    alt="Stack of ScrewFast product boxes containing assorted hardware tools"
  />

  <ClientsSection
    title="CLIENTES"
    subTitle="Con la cofianza de los lideres de la industria"
  />

  <FeaturesGeneral
    title="Satisfacemos la demanda de la Industria"
    subTitle="En Heavy Truck, abordamos los desafíos que se presentan en los sectores del transporte de carga pesada. Desde unidades de vanguardia y el matenimiento de las mismas, hasta operaciones expertos."
    src={featureImage}
    alt="ScrewFast products in floating boxes"
    features={features}
  />

  <FeaturesNavs
    title=`Personaliza <span class="text-yellow-500 dark:text-yellow-400">tu Flota</span>.`
    tabs={[
      {
        heading: "Unidades de primera",
        content:
          "Contamos con distintas unidades para traslados con base a la cantidad (hasta 36 toneladas) y el tipo de mercancía,todas en las mejores condiciones y con mantenimiento constante, preventivo y por protocolo.",
        svg: "tools",
        src: tools,
        alt: "Yellow and black heavy equipment on brown grass field",
        first: true,
      },
      {
        heading: "Origen - Destino",
        content:
          "La ubicación de origen desde donde operamos son las siguientes: CDMX, Morelos, Puebla,EDOMEX, Guerrero, Oaxaca e Hidalgo. Trasladamos a todo el país con base a restricciones",
        svg: "dashboard",
        src: dashboard,
        alt: "A screenshot or graphic representation of the intuitive dashboard",
        second: true,
      },
      {
        heading: "Requisitos de traslado",
        content:
          "El cliente debe compartirnos la factura correspondiente al material que se transporta,en caso de que quiera asegurar la mercancía este proceso se realiza de forma independiente, ya que, por el momento no manejamos este servicio",
        svg: "house",
        src: construction,
        alt: "Gray metal building frame near tower crane during daytime",
      },
    ]}
  />

  <TestimonialsSection
    title="Acelere sus proyectos"
    subTitle="Nuestra flota está capacitada para realizar los traslados programados con un mínimo de 5 días, acelera tus proyectos de construcción o venta de producto con nuestro transporte de calidad"
    ;
    testimonials={[
      {
        content:
          "Heavy Truck nos ha brindado una buena experiencia con el transporte de nuestra mercancía, nos dan seguiemiento y contamos con comunicación constante en todo el proceso",
        author: "Elizabeth Sanchez",
        role: "Gerente de Logística | Todo para tu casa",
        avatarSrc:
          "https://images.unsplash.com/photo-1593104547489-5cfb3839a3b5?q=80&w=1453&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D8&auto=format&fit=facearea&facepad=2&w=320&h=320&q=80",
      },
    ]}
    statistics={[
      {
        count: "70k+",
        description:
          "customers equipped — from DIY to major construction firms",
      },
      {
        count: "35%",
        description:
          "uptick in project efficiency with ScrewFast tools and services",
      },
    ]}
  />

  <PricingSection pricing={pricing} />

  <FAQ title="Frequently<br />asked questions" faqs={faqs} />

  <HeroSectionAlt
    title="Let's Build Together"
    subTitle="ScrewFast is an open-source template, meticulously crafted with Astro, Tailwind CSS, and Preline UI frameworks."
    url="https://github.com/mearashadowfax/ScrewFast"
  />
</MainLayout>
